Chef.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        368,
        32
      ],
      "id": "ec315a75-a12e-4902-9d23-40631edc7e95",
      "webhookId": "addc4b86-0f42-4a4b-8d29-55ada8b9c47f",
      "credentials": {
        "telegramApi": {
          "id": "N6GhV1V8S4GbaiIG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}\n",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "name": "Telegram Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        944,
        32
      ],
      "id": "9763428e-742b-439d-abb0-2596289a00a9",
      "webhookId": "4d6bc307-7e67-44f8-831e-fbd01e850725",
      "credentials": {
        "telegramApi": {
          "id": "N6GhV1V8S4GbaiIG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I have these ingredients: {{ $json[\"message\"][\"text\"] }}. Make me a simple dish using these ingredients. Provide step-by-step instructions.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "fc213660-f8b4-40e0-9582-d2cb257576b5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        240
      ],
      "id": "eee951bb-8c0a-4c8b-b776-ace7ff9a7209",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z8Tl6wRWIZDzZKXl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json[\"message\"][\"chat\"][\"id\"] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        240
      ],
      "id": "667f83b5-1d41-4146-a905-ae727ff13c10",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7acdecdc-199a-4a72-8719-9ba9c43f41ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2143bbab0046a29ff233d0225fd33fbe065863ee6490e9e4402496708a049faa"
  },
  "id": "e85dET8589IaaLBs",
  "tags": []
}